@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: "Exo";
}
body{
    background-color: cornflowerblue;
}
header{
    display: flex;
    height: 150px;
    justify-content: center;
}
.title{
    font-size: clamp(15px,3vw,30px);
    align-self: center;
    text-align: center;
}
.problem{
    display: flex;
    height: 100vh;
    overflow: auto;
    background-color: cornflowerblue;
    border-bottom: 5px solid darkgreen;
}
.why{
    display: flex;
    height: 100vh;
    overflow: auto;
    background-color: #6075c9;
    border-bottom: 5px solid darkgreen;
}
.solution{
    display: flex;
    height: 100vh;
    overflow: auto;
    background-color: cornflowerblue;
    border-bottom: 5px solid darkgreen;
}
